<div class="div-h1">
  <h1>Welcome to JABS!</h1>
</div>

<div class="div-content">
  <% if session[:current_username] == nil %>
    This shouldn't happen
  <% else %>

    <i>Hello, <%= session[:current_username] %></i>

    <img src="<%=User.find(session[:current_user_id]).gravatar_url%>">

    <br>
    <br>
    <br>
    This is the profile page of <%= session[:desired_profile] %> <img src="<%=User.find(session[:desired_id]).gravatar_url%>">
    <br>

    <div class="tweet-button">
      <form action="/user/newtweet" method="GET">
        <input type="submit" value="New Jab">
      </form>
    </div>

  <% end %>

<div class="div-follow">
  <% if is_following? %>

    <a href="/unfollow/<%=session[:desired_id]%>/<%=session[:current_user_id]%>">unfollow</a>

  <% else %>

    <a href="/follow/<%=session[:desired_id]%>/<%=session[:current_user_id]%>">follow</a>

  <% end %>

</div><br><br>

<div class="div-followlist">
  <b>who <%= session[:desired_profile] %> follows</b>
  <% @list_of_leaders = User.find(session[:desired_id]).leaders %>
  <% @list_of_leaders.each do |ldr| %>
  <ul>
    <li><%= User.find(ldr.leader_id).username %></li>
  </ul>
  <% end %><br>

  <b>who follows <%= session[:desired_profile] %></b>
  <% @list_of_followers = User.find(session[:desired_id]).followers %>
  <% @list_of_followers.each do |flwr| %>
  <ul>
    <li><%= User.find(flwr.follower_id).username %></li>
  </ul>
  <% end %><br>

</div><br><br>

<div class="div-tweets">
    <%= erb :_tweets, locals: {current_user: @desired_user}%>

    <%= erb :_retweets, locals: {current_user: @desired_user}%>
</div><br>

<div class="div-home">
  <a href="/users">back</a>
</div>
